:root{
 --color-pink: #950E4C;
 --color-purple: #ab35bb;
 --color-light-purple: #c9b6e4;
 --color-grey: #f2f3f5;
 --color-light-blue: #97c2e2;
 --color-light-skyblue:  #bdd5f0; /*rgb(189, 213, 240);*/
 --color-grayish-blue: rgb(138, 170, 190);
 --color-light-orange: rgb(248, 225, 182);
 --color-light-green: #92afaf;
 --color-strong-blue: #052e55;
 --color-black: #2E2F32;
} 
 

body{
  font-family: 'Livvic', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.container-fluid {
  padding: 60px 50px;
}

.bg-grey{
  background-color: var(--color-grey);
}
.bg-black{
  background-color: var(--color-black);
}
.bg-skyblue{
  background-color: var(--color-light-blue); /*lightblue*/
}
.bg-img-tecnical{
  background-color: var(--color-light-green);
}
.bg-img-product{
  background-color: var(--color-grayish-blue);
}
.bg-img-survey{
  background-color: var(--color-light-orange);
}
.bg-img-tribute{
  background-color: var(--color-light-skyblue); 
}
.bg-img-simplyme{
  background-color: var(--color-light-purple);
}
.bg-img-newproject{
  background-color: lightgray;
}
.text-strong{
  font-weight: 600;
}
.font-size16 {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}
.thumbnail {
  padding: 0 0 0px 0;
  border: none;
  border-radius: 0;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}
.thumbnail a{
  color: var(--color-pink) !important; 
  font-size: 16px;
}

#about a{
  color: var(--color-pink) !important; 
}

.carousel-inner img {
  width: 100%; /*  Set width to 100% */
  margin:auto;
}

.navbar {
  margin-bottom: 0;
  background-color: var(--color-light-blue); /*lightblue*/
  z-index: 9999;
  border: 0;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
  color: var(--color-pink) !important; 
  font-weight: 600;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: var(--color-strong-blue) !important;
  background-color: var(--color-grey) !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: var(--color-grey) !important;
}


/* >>>>> Footer - Brandname <<<<< */

.brandname {
  font-size: 2.0em;
  font-weight: 900;
  color: var(--color-purple);
  font-family: Princess Sofia, Calibri;
}

footer .brandname {
  font-size: 1.3em;
}

footer .fa-angle-double-up {
  font-size: 25px;
  margin-bottom: 10px;
  color: var(--color-grey);
}

.codedby {
  font-weight:500;
  font-size: 0.9em;
  color: var(--color-grey);
}

/* >>>>>>> Button Portfolio <<<<< */
.btn-portfolio {
  display: inline-block;
  font-size: 2rem;
}

/* >>>>>>> Contacts <<<<<< */
.btn-contact {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
  font-size: 2.0rem;
  color: var(--color-pink);
  text-shadow: 1px 1px 1px rgb(109, 203, 235);
  transition: transform 0.3s ease-out;
}
.btn-contact:hover {
  transform: translateY(8px);
}

