:root{
 --color-purple: #ab35bb;
}

body{
  font-family: 'Livvic', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.jumbotron{
  background-color: #97c2e2; /*lightblue*/
  color: #0f0f0f;
  padding: 100px 25px;
}
.container-fluid {
  padding: 60px 50px;
}

.font-size16 {
  font-size: 16px;
}
.font-size18 {
  font-size: 18px;
}

.bg-grey{
  background-color: #f6f6f6;
}
.bg-black{
  background-color: #2E2F32;
}
.bg-skyblue{
  background-color: #97c2e2; /*lightblue*/
}



.img-logo {
  margin: auto;
  display: block;
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}
.thumbnail {
  padding: 0 0 0px 0;
  border: none;
  border-radius: 0;

}

.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;

}

.thumbnail a{
  color: #950E4C !important; 
  font-size: 16px;
}

.bg-img-tecnical{
  background-color: #92afaf;
}
.bg-img-product{
  background-color:rgb(138, 170, 190);
}
.bg-img-survey{
  background-color: rgb(248, 225, 182);
}
.bg-img-tribute{
  background-color: rgb(189, 213, 240);
}
.bg-img-simplyme{
  background-color: #c9b6e4;
}
.bg-img-newproject{
  background-color: lightgray;
}
.text-strong{
  font-weight: 600;
}

.carousel-inner img {
   /*  Set width to 100% */
   width: 100%;
   margin:auto;

}

.navbar {
  margin-bottom: 0;
  background-color: #97c2e2; /*lightblue*/
  z-index: 9999;
  border: 0;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}



.navbar li a, .navbar .navbar-brand {
  color: #950E4C !important; 
  font-weight: 600;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #052e55 !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}


/* >>>>> Footer - Brandname <<<<< */

.brandname {
  font-size: 2.0em;
  font-weight: 900;
  color: var(--color-purple);
  font-family: Princess Sofia, Calibri;
}

footer .brandname {
  font-size: 1.3em;
}

footer .fa-angle-double-up {
  font-size: 25px;
  margin-bottom: 10px;
  color: #f2f3f5;;
}

.codedby {
  font-weight:500;
  font-size: 0.9em;
  color: white;
}

/* >>>>>>> Button Portfolio <<<<< */
.btn-portfolio {
  display: inline-block;
  font-size: 2rem;
}

/* >>>>>>> Contacts <<<<<< */
.btn-contact {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
  font-size: 2.0rem;
  color: #950E4C;
  text-shadow: 1px 1px 1px rgb(109, 203, 235);
  transition: transform 0.3s ease-out;
}
.btn-contact:hover {
  transform: translateY(8px);
}


/* >>>>>> SLIDE <<<<<< */

.slideanim {visibility:hidden;}
.slide {
  /* The name of the animation */
  animation-name: slide;   
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}